.trainingQueriesInputs {
    display: grid;
    grid-template-columns: minmax(auto, 7rem) 1fr;
    flex-direction: column;
    gap: 1rem;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 10px;
    background: var(--color-black-secondary);
    padding: 0 1.5rem;
    gap: 1rem;
}


.querySelect {
    flex: 1;
    border-radius: 1rem;
}

.labelDot {
    height: 1rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.outputQuantityRange {
    background: rgba(255,255,255,0.4);
    border: none;
    position: relative;
    display: block;
    outline: none;
    width: 100vw;
    height: 30p;
    top: 250px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}