.backgroundWrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    user-select: none;
}

.bgRoadmapMobile,
.bgRoadmapDesktop {
    position: absolute;
}

.bgRoadmapDesktop {
    display: none;
}

.bgRoadmapDesktop1 {
    width: 2332px;
    height: 2287px;
    left: -1033px;
    top: 1010px;
}

.bgRoadmapDesktop2 {
    width: 2355px;
    height: 2295px;
    right: -833px;
    top: 1610px;
}

.bgRoadmapDesktop3 {
    width: 2372px;
    height: 2159px;
    left: -1433px;
    top: 2910px;
}

.bgRoadmapDesktop4 {
    width: 2543px;
    height: 2433px;
    right: -1833px;
    top: 3310px;
}

.bgRoadmapDesktop5 {
    width: 2621px;
    height: 2198px;
    left: -1433px;
    top: 3810px;
}

.bgRoadmapDesktop6 {
    width: 2378px;
    height: 2232px;
    left: -1433px;
    top: 5110px;
}

.bgRoadmapDesktop7 {
    width: 2537px;
    height: 2286px;
    right: -1533px;
    top: 5410px;
}

.bgRoadmapMobile1 {
    width: 2133px;
    height: 2110px;
    left: -833px;
    top: 1610px;
}

.bgRoadmapMobile2 {
    width: 2342px;
    height: 2264px;
    left: -833px;
    top: 3810px;
}

.bgRoadmapMobile3 {
    width: 2342px;
    height: 2264px;
    left: -833px;
    top: 5510px;
}

@media only all and (min-width: 480px) {
    .bgRoadmapMobile3 {
        top: 5910px;
    }
}

@media only all and (min-width: 763px) {
    .bgRoadmapMobile3 {
        top: 5410px;
    }
}

@media only all and (min-width: 1024px) {
    .bgRoadmapDesktop {
        display: inherit;
    }

    .bgRoadmapMobile {
        display: none;
    }
}

@media only all and (min-width: 1278px) {
    .bgRoadmapDesktop1 {
        left: -833px;
    }

    .bgRoadmapDesktop2 {
        right: -833px;
    }

    .bgRoadmapDesktop4 {
        right: -1533px;
    }

    .bgRoadmapDesktop7 {
        right: -1533px;
    }
}

@media only all and (min-width: 1668px) {
    .bgRoadmapDesktop1 {
        left: -833px;
    }

    .bgRoadmapDesktop2 {
        right: -633px;
    }

    .bgRoadmapDesktop3 {
        left: -1033px;
    }

    .bgRoadmapDesktop4 {
        right: -1433px;
    }

    .bgRoadmapDesktop5 {
        left: -1033px;
    }

    .bgRoadmapDesktop7 {
        right: -1433px;
    }

    .bgRoadmapDesktop6 {
        left: -1033px;
    }
}
