.viewerTableContainer {
    height: 100%;
    width: 100%;
    min-height: 30rem;
    z-index: 0;
    position: relative;
    display: flex;
}

.uploadDate {
    display: none;
}

.viewerTableScroller {
    overflow-x: auto;
    border-bottom: 1px solid transparent;
}

.viewerTableHead {
    position: relative;
    border-collapse: separate;
    font-weight: 700;
}

.viewerTableHead .viewerTableCell {
    padding-block: 1.25rem;
}

.viewerTableHead::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 0 0 8px 8px;
    background: var(--background);
}

.viewerTableHead::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    border-radius: 8px;
    border: 1px solid #333c42;
}

.viewerTableBody {
    width: 100%;
    border-collapse: separate;
    position: relative;
    z-index: 0;
    top: 1rem;
}

.viewerTableBody::after {
    z-index: -1;
    content: '';
    position: absolute;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    border: 1px solid #333c42;
    top: 0;
}

.deleteButton {
    background: transparent;
    cursor: pointer;
}

.textViewer {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    border-radius: 16px;
    padding: 16px;
    background: var(--main-grey);
}

.rowHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1.25rem 0.813rem;
    border: 1px solid #333c42;
    border-radius: 8px;
}

.bodyWrapper {
    width: 100%;
    border: 1px solid #333c42;
    border-radius: 8px;
    overflow-y: auto;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0.813rem;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.viewerTableCell {
    flex-basis: 100%;
    overflow: hidden;
    text-align: center;
    padding: 0.75rem 0.5rem;
    color: inherit;
    font: inherit;
    border: none;
    vertical-align: middle;
}

.viewerTableBody .viewerTableCell {
    box-shadow: inset 0 -1px #333c42;
}

.viewerTableCellInner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filename {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

.filenameText {
    overflow: hidden;
    word-break: keep-all;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /*grid-template-columns: repeat(6, 1fr);*/
    gap: 1rem;
    overflow-y: auto;
    flex: 1;
    align-content: flex-start;
}

.gridContainer {
    width: 100%;
    min-height: 30rem;
}

.imageWrapper {
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    position: absolute;
    object-position: center;
    object-fit: contain;
    border-radius: 8px;
    overflow: hidden;
    background: var(--main-grey);
}

.imageButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: transparent;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

@media only all and (min-width: 768px) {
    .uploadDate {
        display: table-cell;
    }
}
