.socialButton {
   padding: 1rem 2.5rem;
   border-radius: 0.8rem;
   width: 24rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 1.5rem;
   font-weight: 600;
   font-family: inherit;
   cursor: pointer;
   transition: 0.2s;
}

.githubButton {
   background-color: var(--color-black-secondary);
   border: 3px solid var(--color-white);
   color: var(--color-white);
}

.githubButton:hover {
   background-color: var(--color-blue-gradients-card);

   color: var(--color-white);
}

.githubButton:hover .githubIcon {
   fill: var(--color-white);
}

.githubIcon {
   width: 2.9rem;
   height: 2.9rem;
   fill: var(--color-white);
   transition: 0.2s;
}

.googleButton {
   border: 3px solid var(--color-white);
   background-color: var(--color-white);
   color: var(--color-black-secondary);
   margin-top: 2rem;
}

.googleButton:hover {
   background-color: var(--color-blue-gradients-card);
   color: var(--color-white);
}

.googleButton:hover .googleIcon {
   fill: var(--color-white);
}

.googleIcon {
   width: 2.9rem;
   height: 2.9rem;
   fill: var(--color-black-secondary);
}

.form {
   background-color: var(--color-black-secondary);
   padding: 4rem calc(4rem + 2vw);
   width: var(--landing-page-mobile-size);
   margin: 15rem auto;
   border-radius: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   row-gap: 2.5rem;
   align-items: center;
   height: fit-content;
}

.terms {
   margin-top: 2rem;
   font-size: 10px;
}

.termLinks {
   font-size: 10px;
   margin: 0 0.3rem;
}

/*.form::before {*/
/*   content: "";*/
/*   position: absolute;*/
/*   left: 50%;*/
/*   top: 50%;*/
/*   transform: translate(-50%, -50%);*/
/*   width: 140%;*/
/*   aspect-ratio: 1/1;*/
/*   z-index: -1;*/
/*   background-image: radial-gradient(*/
/*      circle, */
/*      var(--color-blue-gradients) 10%, */
/*      rgba(0, 0, 0, 0) 70%*/
/*   );*/
/*   border-radius: 300rem;*/
/*}*/

.input {
   background-color: var(--color-gray);
   border: none;
   border-radius: 0.8rem;
   padding: 1rem 2rem;
   font-family: inherit;
   width: 24rem;
   margin-top: 0.7rem;
   display: block;
}

.inputHeading:nth-of-type(2) {
   margin-top: 2rem;
}

.input:nth-of-type(2) {
   margin-bottom: 1rem;
}

.inputHeading {
   font-size: 1.3rem;
   display: block;
   font-weight: 500;
}

.input:focus {
   outline: none;
}

.submitButton {
   padding: 1.2rem 2.4rem;
   border-radius: 0.5rem;
   font-family: inherit;
   font-weight: 500;
   background-image: linear-gradient(
      to bottom right,
      var(--color-blue-secondary),
      var(--color-blue-primary) 110%
   );
   color: var(--color-white);
   display: block;
   margin-top: 2.5rem;
   border: none;
   cursor: pointer;
   transition: 0.2s;
}

.submitButton:hover {
   color: rgb(0, 12, 121);   
}

.link {
   color: var(--color-blue-primary);
   font-size: 1.1rem;
   transition: 0.2s;
}

.inputInvalid {
   border: 3px solid var(--color-red-primary);
   background-color: var(--color-red-secondary);
   border-radius: 0.8rem;
   padding: 1rem 2rem;
   font-family: inherit;
   width: 24rem;
   margin-top: 0.7rem;
   display: block;
   margin-bottom: 1rem;
   position: relative;
   z-index: 10;
}

.inputInvalid:focus {
   outline: none;
}

.inputInvalidText {
   color: var(--color-red-primary);
   font-size: 1.1rem;
   display: none;
}

.inputInvalidTextActive {
   color: var(--color-red-primary);
   font-size: 1.1rem;
   display: block;
}

.inputInvalidTextActive:nth-of-type(1) {
   margin-top: 1rem;
}

.inputInvalidTextActive:nth-of-type(2) {
   margin-bottom: 1rem;
}

.formSeparator {
   width: 100%;
   height: 0.125rem;
   background: var(--color-white);
}

@media only all and (min-width: 1024px) {
   .form {
      flex-direction: row;
      width: 100%;
      max-width: 80rem;
   }

   .formSeparator {
      height: 20rem;
      margin-left: -8rem;
      width: 0.0625rem;
   }
}
