.statusBadgeWrapper {
    display: inline-flex;
    padding: 0.1875rem 0.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    flex-shrink: 0;

    border-radius: 1rem;
    background: var(--background, #141414);

    color: var(--primary-1100, #d2e1ff);

    font-size: 0.75rem;
    line-height: 1.5rem;
}

.statusAcceptedBorder {
    border: 1px solid var(--success-500, #14dd59);
}

.statusRejectedBorder {
    border: 1px solid var(--error-500, #ea2e2e);
}

.statusInReviewBorder {
    border: 1px solid var(--warning-500, #ead72e);
}

.statusBadgeSeparator {
    opacity: 0.2;
    width: 2px;
    height: 1rem;
    background: #fff;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 0.87rem 1.31rem;
    border-radius: 1rem;
    border: 0.5px solid #595959;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
}

.titleWrapper {
    display: flex;
    gap: 1.44rem;
}

.title {
    color: var(--primary-1100, #d2e1ff);

    /* Heading/H3-Bold */
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
}

.datetime {
    display: flex;
    gap: 0.62rem;

    color: var(--primary-1100, #d2e1ff);

    /* Body/B12 */
    font-size: 0.75rem;
    line-height: 1.5rem;
}

.footerWrapper {
    display: flex;
    justify-content: space-between;
}

.itemContent {
    color: var(--primary1-100, #d2e1ff);

    /* Body/B14 */
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.messageBadge {
    display: flex;
    gap: 6px;

    color: var(--primary1-100, #d2e1ff);

    /* Body/B14 */
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.itemStats {
    display: flex;
    align-items: center;
    gap: 16px;
}
