.buttonWrapper {
  position: relative;
  pointer-events: stroke;
}

.profileContainer {
  align-self: center;
  margin-left: 15px;
  background: var(--main-grey);
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 8px;
  gap: 8px;
  cursor: pointer;
  transition: 0.2s;
  color: var(--white);
}

.profileContainer p {
  font-size: 1rem;
}

.profileContainer:hover {
  color: var(--primary1-100);
}

.profileContainer img {
  width: 32px;
  height: 32px;
  border-radius: 9999px;
}

.dropdown {
  position: absolute;
  z-index: 99;
  top: 60px;
  right: 0px;
  border-radius: 1rem;
  background: var(--main-grey, #1e1e1e);
  border: grey;
  overflow: hidden;
  border: 1px solid var(--selection);

  /* Shadow/lg */
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);

  display: flex;
  flex-direction: column;

  transition: 0.2s;

  transform: scale(0);
  transform-origin: 50% 0%;
  opacity: 1;
}

.dropdownActive {
  transform: scale(1);
  transform-origin: 50% 0%;
  opacity: 1;
}

.dropdownItem {
  display: flex;
  padding: 0.625rem 1rem;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
  background-color: transparent;

  color: var(--primary1-100, #d2e1ff) !important;

  /* Text sm/Medium */
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.dropdownItem:hover {
  filter: brightness(1.2);
}

.icon {
  scale: 0.66;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: var(--primary1-100);
}

@keyframes scale-in-top {
  0% {
    transform: scale(0);
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
