.profileContainer {
    align-self: center;
    margin-left: 15px;
    background: var(--main-grey);
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 8px;
    gap: 8px;
    cursor: pointer;
    transition: 0.2s;
    color: var(--white);
}

.profileContainer p {
    font-size: 1rem;
}

.profileContainer:hover {
    color: var(--primary1-100);
}

.profileContainer img {
    width: 32px;
    height: 32px;
    border-radius: 9999px;
}
