.headerContainer {
  margin-bottom: 3.125rem;
  text-align: center !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerWrapper {
  max-width: 56.25rem;
}

.subHeader {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 600;
  color: #4accf4;
  text-align: center !important;
}

.header {
  font-size: 1.625rem;
  line-height: 2.4375rem;
  font-weight: 800;
  color: #fff;
  text-align: center !important;
}

.body {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 300;
  color: #fff;
  text-align: center !important;
}

@media only all and (min-width: 40rem) {
  .subHeader {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 0.625rem;
  }

  .header {
    font-size: 2.5rem;
    line-height: 3.75rem;
    margin-bottom: 1.5rem;
  }

  .body {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
}
