.container {
  padding: 3rem 0;
}

.container h1 {
  margin-top: 16px;
}

.container h2 {
  margin-top: 12px;
}

.container h3, h4 {
  margin-top: 8px;
}

.container h1, h2, h3, h4 {
  margin-bottom: 12px;
}

.container p {
  margin-bottom: 8px;
}