.viewDatasetsHeader {
    margin-block: 5rem 2rem;
    font-size: 3rem;
}

.searchDatasets input {
    display: flex;
    background-color: var(--color-black-secondary);
    border-radius: 1.5rem;
    overflow: hidden;
    flex: 1;
    background-color: var(--color-black-secondary);
    color: white;
    border: none;
    font-size: 1.6rem;
    outline: none;
    width: 100%;
    padding: 2rem 2rem 2rem 3rem;
}

.datasetsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    justify-content: space-evenly;
    justify-items: center;
    align-items: flex-start;
    margin-block: 2rem 6rem;
    grid-gap: 3rem 3rem;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 3rem;
    align-items: stretch;
    --gap: 2rem;
    gap: var(--gap);
}

.createDatasetButton {
    width: 100%;
    flex: none;
    border-radius: 1.5rem;
    padding-inline: 3rem;
    justify-content: space-between;
}

.searchDatasets {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.noDatasetsFound {
    margin-top: 20px;
    font-size: 25px;
    justify-self: baseline;
    font-weight: lighter;
}

.noDatasetsFound a {
    transition: 0.2s;
    color: var(--color-blue-primary);
}

.noDatasetsFound a:hover {
    color: var(--color-blue-secondary);
}

@media only all and (min-width: 640px) {
    .searchDatasets {
        flex-direction: row;
    }

    .createDatasetButton {
        width: fit-content;
    }
}

@media only all and (min-width: 1200px) {
    .header {
        flex-direction: row;
        align-items: center;
    }

    .searchDatasets {
        flex: 1;
    }

    .createDatasetButton {
        width: fit-content;
    }
}