.viewDatasetsHeader {
    margin-top: 80px;
    margin-bottom: 80px;
}

.datasetsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-evenly;
    justify-items: center;
}

.header {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    gap: 3rem;
}

.btnWrapper {
    height: 80%;
}

.searchWrapper {
    height: 80%;
    flex: 1;
}

.container {
    display: flex;
    background-color: var(--color-black-secondary);
    border-radius: 20px;
    
    padding: 2rem;
    gap: 2rem;
}

.container input {
    flex: 1;
    background-color: var(--color-black-secondary);
    color: white;
    border: none;
    font-size: 1.6rem;
    padding-left: 1.5rem;
    outline: none;
}

.container img {
    height: 2rem;
}
