.overviewContainer {
    height: 100vh;

    left: 0;
    width: 100vw;
    
    position: absolute;
    background: 
        radial-gradient(
            circle at top left, 
            var(--color-blue-gradients), 
            rgba(0, 0, 0, 0) 60%
        ) top left,
        radial-gradient(
            circle at bottom right, 
            var(--color-blue-gradients), 
            rgba(0, 0, 0, 0) 30%
        ) bottom right
    ;
}

.overviewContentContainer {
    margin-left: 23vw;
    margin-top: 10vh;
}

.overviewContentContainer h1 {
    font-size: 25px;
}

.overviewContentContainer p {
    color: #C9C9C9;
    margin-top: 50px;
    font-size: 15px;
    width: 90%;
}

.overviewInfoCards {
    margin-top: 60px;

    display: flex;

    align-items: center;
    justify-content: space-between;
}

.overviewInfoCards div {
    font-weight: 100 !important;
    border-radius: 10px;
    padding: 15px 50px 15px 50px;

    font-size: 13px;
    font-weight: bold;

    color: var(--color-black-primary);

    background: var(--color-blue-primary);
}

.overviewInfoCards:nth-child(n) {
    margin-right: 60px;
}

.profileBtnContainer {
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 20px;
}