.uploadContainer {
    background: var(--main-grey);
    border-color: var(--selection);
    border-width: 3px;
    width: 100%;
    min-width: 23rem;
}

.container {
    width: 100%;
    background-color: var(--background);
    border-radius: 30px;
}

.heading {
    font-size: 1.8rem;
    font-weight: 700;
}

.headingDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
}

.inputDiv {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin-top: 1.5rem;
    width: 100%;
}

.subheading {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.input {
    font-family: inherit;
    width: 100%;
    background-color: var(--main-grey);
    font-size: 0.9rem;
}

.input:focus {
    outline: none;
}

.mergedInput {
    background-color: var(--main-grey);
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
    border-radius: 15px;
    width: 100%;
}

.button {
    background: none;
    border: 2px solid var(--grey);
    font-size: 0.9rem;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    transition: 0.15s;
}

.button:hover {
    background-color: var(--grey);
}

.textArea {
    background-color: var(--main-grey);
    padding: 1rem;
    font-family: inherit;
    min-width: 23rem;
    width: 100%;
    height: 8rem;
    resize: none;
    border-radius: 15px;
    border: none;
    color: var(--white);
}

.textArea:focus {
    outline: none;
}

.cross:hover {
    cursor: pointer;
}
