.logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name {
    font-size: 1.5rem;
    line-height: 1.2em;
    font-weight: 600;
    display: none;
}

.logo {
    width: fit-content;
}

@media only all and (min-width: 72em) {
    .name {
        display: block;
    }
}
