.container {
    display: flex;
    background-color: var(--color-black-secondary);
    border-radius: 20px;
    
    padding: 2rem;
    gap: 2rem;
}

.container input {
    flex: 1;
    background-color: var(--color-black-secondary);
    color: white;
    border: none;
    font-size: 1.6rem;
    padding-left: 1.5rem;
}

.container img {
    height: 2rem;
    
}

