.link {
    color: var(--color-blue-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
    text-decoration: underline 0.25rem;
    transition: 0.2s;
    text-underline-offset: 0.25rem;
}

.link:hover {
    color: var(--color-white);
}

.link:hover::after {
    background-color: var(--color-white);
}
