.newRecipeButton {
    padding: 12px 24px;
    gap: 8px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    background: var(--primary2-950);
    border-radius: 20px;
    cursor: pointer;
}

.recipeForm {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.recipeLabelHeader {
    display: flex;
    align-items: center;
    color: var(--primary1-100);
    font-weight: 700;
    justify-content: space-between;
    width: 100%;
}

.addLabelButton {
    background: transparent;
    cursor: pointer;
}

.recipeLabelDesc {
    display: flex;
    align-items: center;
    gap: 6px;
}

.labelFieldset {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.labelDataFieldWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.labelDataField {
    display: flex;
    gap: 8px;
    align-items: center;
}

.labelInput {
    padding: 10px 12px;
}

.labelContainer {
    flex: 1;
}

.labelToolSelectContainer {
    flex: 1;
}

.deleteLabelButton {
    background: transparent;
    cursor: pointer;
    color: var(--primary1-100);
}

.saveButtonWrapper {
    display: flex;
    justify-content: center;
}

.saveButton {
    padding: 8px 16px;
    cursor: pointer;
    padding: 12px 24px;
    gap: 6px;
    background: var(--primary2-950);
    border-radius: 20px;
    width: fit-content;
}