.newRecipeButton {
    padding: 12px 24px;
    gap: 8px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    background: var(--primary2-950);
    border-radius: 20px;
    cursor: pointer;
}

.recipeModal {
    height: 80%;
    min-width: 37rem;
    display: flex;
    flex-direction: column;
}