
.authContainerOuter {
    min-height: fit-content;
}

.authContainerInner {
    border-radius: 1.5rem;
    width: 100%;
    padding: 5rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.appLogo {
    width: 10rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    background: gold;
}

.permissionItem {
    display: flex;
    background: var(--main-grey);
    border-radius: 1.5rem;
    align-items: center;
    line-height: 1.5;
    gap: 1rem;
    padding: 1.5rem 1.5rem;
}

.permissionList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.permissionIcon {
    width: 36px;
    height: 36px;
    aspect-ratio: 1/1;
}

.permissionIcon svg {
    width: 100%;
    height: 100%;
}

.appDetails {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
}

.appName {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.authorizationButtons {
    display: flex;
    gap: 1rem;
}


.errorHeading {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.authorizationButton {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    background: var(--primary2-500);
    border-radius: 16px;
    cursor: pointer;
    color: inherit;
}

.rejectAuthorizationButton {
    background: linear-gradient(90deg, #ff5555, #ff637f);
}