.card {
    background: var(--primary1-100);
    border-radius: 8px;
    padding: 14px 8px 8px;
    display: flex;
    flex-direction: column;
    color: var(--primary1-950);
    gap: 13.5px;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

.card:hover {
    background: var(--primary2-200);
}

.linkOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.firstRow {
    display: flex;
    gap: 14px;
    padding-inline: 6px;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}

.cardInfo {
    padding: 17.5px 8px;
    background: var(--primary1-200);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.75rem;
    line-height: 1.5rem;
}

.datasetName {
    font: inherit;
}

.firstInfoRow {
    display: flex;
    justify-content: space-between;
}

.assetCountText {
    display: flex;
    gap: 0.25rem;
    font-size: 0.75rem;
    line-height: 1.5rem;
    align-items: center;
}

.assetCount {
    font-size: 1rem;
    font-weight: 700;
}

.lastUpdated {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    gap: 0.25rem;
    align-items: center;
}

.tagBadges {
    display: flex;
    gap: 8px;
}

.badge {
    padding: 2px 8px;
    display: block;
    background: var(--primary2-300);
    border-radius: 16px;
}
