.button {
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    width: fit-content;
    font-weight: 600;
    color: var(--color-white);
    transition: 0.2s;
    gap: 1rem;
}

.gradientBottomRight {
    background: linear-gradient(
        to bottom right,
        var(--color-blue-secondary),
        var(--color-blue-primary)
    );
}

.gradientRightLeft {
    background: var(--gradient-rl);
}

.gradientLeftRight {
    background: var(--gradient-lr);
}

.svg {
    width: 1.8rem;
    height: 1.8rem;
    aspect-ratio: 1/1;
    stroke: var(--color-white);
    stroke-width: 1.2;
    transition: 0.2s;
}

.button:hover {
    color: rgb(0, 12, 121);
}

.button:hover .svg {
    stroke: rgb(0, 12, 121);
}
