.inputContainer {
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
}

.labelContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.label {
    font-weight: 700;
    color: var(--primary1-100);
    
}

.input {
    width: 100%;
    background: var(--main-grey);
    padding: 0.75rem 12px;
    border-radius: 8px;
    color: var(--primary1-100);
    outline: 1px solid transparent;
    transition: outline-color 0.15s ease-in-out, border 0.15s ease-in-out;
}

.inputWithIcon {
    padding-left: 44px;
}

.icon {
    position: absolute;
    color: var(--primary1-100);
    left: 12px;
    width: 24px;
    height: 24px;

}

.input::placeholder {
    color: inherit;
}

.input:focus {
    outline-color: var(--primary1-100);
}