.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: fit-content;
    background: var(--main-grey);
    border-radius: 0 16px 16px 0;
    padding: 40px 18px;
}

.sidebarLink {
    display: flex;
    gap: 16px;
    padding: 16px;
    width: 100%;
    color: var(--tertiary);
    font-weight: 600;
    line-height: 1.2em;
    align-items: center;
}

.sidebarLinkSVG {
    color: var(--primary);
}

.segment {
    display: flex;
    flex-direction: column;
    gap: 40px;
}