.profileContainer {
    background: var(--tertiary-background);
    padding: 24px 16px;
    gap: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.profileTextInfo {
    display: none;
    flex-direction: column;
    gap: 8px;
    line-height: 1.2em;
}

.profileImage {
    height: 40px;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.displayName {
    font-size: 1rem;
    font-weight: 600;
}

.email {
    font-size: 0.75rem;
}

.button {
    display: none;
    background: none;
    width: 24px;
    aspect-ratio: 1/1;
    border: none;
    color: white;
    cursor: pointer;
}

@media only all and (min-width: 72em) {
    .button {
        display: block;
    }

    .profileTextInfo {
        display: flex;
    }
}
