.heading {
    font-size: 3rem;
    font-weight: 600;
    flex: 1;
}

.containerDiv {
    margin: 6rem 0 7rem 0;
    display: flex;
    flex-direction: column;
    gap: min(calc(3rem + 2vw), 8rem);
}

.headingRow {
    display: flex;
    gap: 2rem;
}

.imageSection {
    display: flex;
    flex-direction: column;
    gap: min(calc(1rem + 2vw), 6rem);
}

.nameDiv {
    background: var(--color-black-secondary);
    width: fit-content;
    padding: 2rem 20rem 2rem 4rem;
    display: flex;
    border-radius: 20px;
    align-items: center;
    gap: min(calc(1rem + 2vw), 4rem);
}

.infoDiv {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.image {
    width: 10rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 2rem;
    display: block;
}

.name {
    font-size: 2.5rem;
    font-weight: 500;
}

.email {
    color: var(--color-gray);
    font-size: 1.6rem;
    font-weight: 500;
}

.card {
    background-color: var(--color-black-secondary);
    display: inline-block;
    padding: 3rem 4rem;
    border-radius: 2rem;
    position: relative;
}

.card::before {
    position: absolute;
    content: "";
    right: 0rem;
    bottom: 0rem;
    width: 100%;
    height: 100%;
    z-index: -1;

    background: linear-gradient(
        to bottom right,
        var(--color-aqua),
        var(--color-blue-tertiary)
    );

    filter: blur(2rem);
}

.cardSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: min(calc(1rem + 2vw), 6rem);
}

.cardHeading {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.cardText {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    color: var(--color-gray);
}

.cardText:not(:last-of-type) {
    margin-bottom: 1.2rem;
}

.logoutButton {
    width: 20%;
    padding: 15px 0px;
    cursor: pointer;
    border-radius: 15px;
    align-self: center;
    background: none;
    color: var(--color-white);
    font-size: large;
    margin-left: 100px;
    border: 2px solid var(--color-white);
    transition: 0.2s;
}

.logoutButton:hover {
    color: var(--color-black-primary);
    background: var(--color-white);
}

.payButton {
    margin-top: 1.5em;
}

.pricePlanSelect {
    width: 150%;
}

.subHeadingContainer {
    gap: 10%;
    display: flex;
}

@media only all and (min-width: 768px) {
    .card {
        flex: 1;
    }

    .cardSection {
        flex-direction: row;
        column-gap: min(calc(4rem + 4vw), 20rem);
    }
}