.uploadDataWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem 32px;
    padding: 1rem 0.75rem;
    justify-content: center;
    align-items: center;
    background: var(--main-grey);
    border-radius: 8px;
    position: relative;
}

.uploadDataIcon {
    height: 80px;
    width: 80px;
}

.uploadDataIcon svg {
    width: 100%;
    height: 100%;
}

.uploadDataDesc {
    font-weight: 700;
    font-size: 1.5rem;
}

.uploadDataSubDesc {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
}

.uploadDataInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.625rem;
}

.fileInput {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    inset: 0 0 0 0;
    cursor: pointer;
}

.helpButton {
    cursor: pointer;
    z-index: 2;
    background: transparent;
}

@media only all and (min-width: 48em) {
    .uploadDataWrapper {
        flex-direction: row;
    }
}