.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    max-width: 1600px;
    margin: 2rem auto;
}

.swiperContainer {
    display: flex;
    margin-inline: -150px;
    padding-inline: 150px;
    overflow: hidden;
}

.swiper {
    overflow: visible;
    display: flex;
    flex: 1;
    width: 0;
    align-items: center;
}

.slide {
    width: fit-content;
}

.slide:not(:last-child) {
    padding-right: 12px;
}

.navButton {
    position: relative;
    background: var(--main-grey);
    width: 64px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 49px rgba(0, 7, 72, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: background 0.15s ease-in-out;
}

.fadeOverlay {
    position: relative;
    z-index: 2;
    padding-inline: 16px;
    display: flex;
    align-items: center;
}

.fadeOverlay::before {
    content: "";
    display: block;
    height: 100%;
    width: 250px;
    position: absolute;
    background: red;
}

.fadeOverlay.previous::before {
    background: linear-gradient(90deg, var(--background), transparent);
    right: 0;
}

.fadeOverlay.next::before {
    background: linear-gradient(-90deg, var(--background), transparent);
    left: 0;
}