.annotationWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.annotationImage {
    max-width: 100%;
    max-height: 100%;
    width: unset;
    border-radius: 1rem;
}

.annotationCanvasStage {
    position: absolute;
    z-index: 2;
}