.rectangleUtilityButtons {
    display: flex;
    border-radius: 1rem;
    transform: translate(-50%, calc(-100% - 1rem));
    background: var(--color-black-secondary)
}

.deleteButton {
    background: var(--color-red-primary);

}

.button {
    border-radius: 1rem;
    aspect-ratio: 1/1;
    width: 5rem;
    padding: 1rem;
}

.button * {
    height: 100%;
    width: 100%;
}
