.imageContainer {
    margin: 15px 2.5vw;
}

.imageContainer img {
    transition: 0.2s;

    width: 186px;
    height: 124px;
    border-radius: 10px;
    cursor: pointer;
}

.imageContainer p {
    font-size: 15px;
    text-align: center;
}

.trashIcon {
    transform: translate(300%, -500%);
    position: absolute;
    display: none;
}

.imageContainer img:hover + .trashIcon {
    display: block;
}

.imageContainer img:hover {
    opacity: .2;
}
