.uploadedImages {
    position: absolute;

    width: 100vw;
    background: 
        radial-gradient(
            circle at top left, 
            var(--color-blue-gradients), 
            rgba(0, 0, 0, 0) 40%
        ) top left,
        radial-gradient(
            circle at bottom right, 
            var(--color-blue-gradients), 
            rgba(0, 0, 0, 0) 30%
        ) bottom right
    ;
}

.uploadedImagesContentContainer {
    margin-left: 15vw;
    margin-top: 10vh;
}

.uploadedImages h1 {
    font-size: 25px;

    margin-bottom: 50px;
}

.uploadedImagesContainer {
    display: flex;
    flex-wrap: wrap;

}
