.uploadedImageContainer {
    display: flex;
    margin-bottom: 20px;
    padding: 20px 70px;
    background: var(--color-black-secondary);
    border-radius: 10px;
    width: 50vw;
}

.uploadedImageContainer h3 {
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
    margin-right: 10vw;
    width: 50px;
}

.uploadedImageContainer button {
    align-self: center;
}

.viewImage {
    position: absolute;
    font-size: 14px;
    color: var(--color-gray);
    background: none;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    transform: translateX(-50%);
    left: 50%;
}

.viewImage:hover {
    color: var(--color-blue-primary);
}

.deleteUpload {
    color: var(--color-red-primary);
    font-size: 15px;
    background: none;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    margin-left: 25vw;
}

.deleteUpload:hover {
    color: var(--color-red-secondary);
}