@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap");

* {
   margin: 0;
   padding: 0;
}
*,
*::before,
*::after {
   box-sizing: inherit;
}
html {
   box-sizing: border-box;
   font-size: 62.5%;
}
:root {
   /* global variables */
   /* define colors or any css value that will/can be repeated, few examples below*/
   --color-primary: #ffb129;

   --color-white: #fff;
   --color-black: #000;

   --line: 1px solid var(--color-black);
}
body,
html {
   margin: 0;
   padding: 0;
   font-family: "Darker Grotesque", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

a {
   text-decoration: none;
   color: var(--color-black);
}

ul {
   list-style: none;
   display: flex;
   gap: 2rem;
   align-items: center;
   padding-right: 5rem;
}

/* MAIN CONTENNT */
