.overviewContainer {
    height: 100vh;

    left: 0;
    width: 100vw;
    
    position: absolute;
    background: 
        radial-gradient(
            circle at top left, 
            var(--color-blue-gradients), 
            rgba(0, 0, 0, 0) 60%
        ) top left,
        radial-gradient(
            circle at bottom right, 
            var(--color-blue-gradients), 
            rgba(0, 0, 0, 0) 30%
        ) bottom right
    ;
}

.overviewContentContainer {
    margin-left: 23vw;
    margin-top: 10vh;
}

.overviewContentContainer h1 {
    font-size: 25px;
}

.overviewContentContainer p {
    color: #C9C9C9;
    margin-top: 50px;
    font-size: 15px;
    width: 90%;
}

.overviewInfoCards {
    margin-top: 60px;

    display: flex;

    align-items: center;
    justify-content: space-between;
}

.overviewInfoCards div {
    border-radius: 10px;
    padding: 15px 50px 15px 50px;

    font-size: 13px;
    font-weight: bold;

    color: var(--color-black-primary);

    background: var(--color-blue-primary);
}

.overviewInfoCards:nth-child(n) {
    margin-right: 60px;
}

.overviewPaymentContainer {
    margin-top: 100px;
}

.overviewPaymentContainer h1 {
    font-size: 22px;

    margin-bottom: 30px;
}

.overviewPaymentContent {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.monthlyContainer {
    border-radius: 10px;

    background: var(--color-black-secondary);

    padding: 40px 50px 40px 50px;

    width: 35%;
}

.monthlyContainer h2 {
    font-weight: 100;
    margin-bottom: 20px;
}

.monthlyContainer p {
    margin-top: 5px;
}

.currentPlan {
    margin-top: -40px;
}

.currentPlan h3 {
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 15px;
}

.currentPlan div {
    border-radius: 10px;

    background: var(--color-black-secondary);

    padding: 40px 50px 40px 50px;

    width: 106%;
}

.currentPlan div p {
    margin-top: 5px;
}

.currentPlan div h2 {
    font-size: 13px;
    margin-bottom: 20px;
}

.changePlan {
    margin-top: -60px;
    margin-right: 100px;
}

.changePlan h1 {
    font-size: 15px;
    font-weight: 100;
}

.changePlan select {
    display: block !important;

    margin-bottom: 40px;

    padding: 10px 70px 10px 10px;

    border: 2px solid var(--color-blue-primary);
    background: var(--color-black-primary);
    color: var(--color-white);

    border-radius: 10px;
}

.changePlan button {
    background: linear-gradient(
      to left,
      var(--color-blue-secondary),
      var(--color-blue-primary)
   );

   border: none;

   padding: 1.5rem 5rem;
   font-size: 1.5rem;
   border-radius: 4px;
   display: flex;
   align-items: center;
   width: fit-content;
   color: var(--color-white);
   transition: 0.2s;

   cursor: pointer;
}

.changePlan button:hover {
    color: var(--color-black-secondary);
}