.imageContainer {
    user-select: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.image {
    transition: 0.2s;
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    cursor: pointer;
}

.imageContainer p {
    font-size: 1.5rem;
    text-align: center;
    word-wrap: break-word;
}

.trashIcon {
    color: var(--color-red-primary);
    right: 1.5rem;
    top: 1.5rem;
    position: absolute;
    display: none;
    font-size: 2rem;
    z-index: 1;
    cursor: pointer;
}

.imageContainer:hover .trashIcon {
    display: block;
}

.imageContainer:hover img {
    opacity: .2;
}

.imageFrame {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.loadingFrame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-black-primary);
}

.loadingIcon {
    height: 70%;
    width: unset;
}

.loadingHidden {
    animation: hide 0.15s ease-in forwards;
    pointer-events: none;
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}
