.loginForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.loginFieldset {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.loginFormHeading {
    font-weight: 700;
    line-height: 1.5em;
    font-size: 1rem;
    color: var(--primary1-100);
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.875rem;
}

.error {
    color: var(--error-500);
    padding-left: 16px;
}

.formError {
    color: var(--error-500);
    text-align: center;
}

.input {
    border-radius: 10px;
    background: transparent;
    padding: 16px;
    font-size: 0.875rem;
    line-height: 1rem;
    outline: none;
    color: var(--white);
    border: 2px solid var(--grey);
    transition: 0.15s;
}

.inputInvalid {
    border-color: var(--error-500);
}

.input::placeholder {
    color: var(--light-grey);
}

.input:focus {
    border-color: var(--light-grey);
}

.input:-webkit-autofill {
    background: transparent;
}

.checkbox {
    width: 24px;
    height: 24px;
    appearance: none;
    cursor: pointer;
    transition: 0.15s;
    position: relative;
    border-radius: 6px;
    border: 2px solid var(--grey);
}

.checkbox:checked {
    background-color: var(--primary1-100);
}

.checkbox:hover {
    border-color: var(--light-grey);
}

.label {
    user-select: none;
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--white);
}

.signInUtilities {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forgotPassword {
    font-size: smaller;
    transition: 0.2s;
    color: var(--light-grey) !important;
}

.forgotPassword:hover {
    opacity: 0.7;
}

.signIn {
    border: 2px solid var(--grey);
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 1rem;
    line-height: 1.25rem;
    gap: 8px;
    border-radius: 10px;
    padding: 14px 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.15s;
}

.signIn:hover {
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5),
        0px 8px 16px rgba(255, 255, 255, 0.1);
    background: var(--white);
    color: var(--background);
    border-color: var(--white);
}

.qrContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: smaller;
}

.qrImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.qrImage {
    height: 10rem;
    width: 10rem;
    margin-top: 2rem;
    align-self: center;
    justify-self: center;
}

.label {
    margin-bottom: 0.5rem;
}

.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
}

.phone svg {
    height: 10rem;
    width: 10rem;
}

.phone path {
    stroke-width: 1px!important;
}

.findOtp {
    font-size: smaller;
    transition: 0.2s;
    color: var(--light-grey) !important;
    text-align: center;
    margin-top: 2rem;
    align-self: center;
    display: inherit;
}