.actionEdit {
    color: var(--primary1-100);
    cursor: pointer;
    background: transparent;
}

.recipeModal {
    height: 80%;
    min-width: 37rem;
    display: flex;
    flex-direction: column;
}