.notificationModalHeader {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notificationModalHeader h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.allUnsetButton {
  all: unset;
  cursor: pointer;
}

.contentRoot {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
  justify-content: center;
  height: 100%;

  padding-left: 36px;
  padding-right: 36px;
}

.content {
  display: flex;
  gap: 24px;
  height: 100%;
  min-height: 70vh;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.filters {
  width: 300px;
  border: 1px solid #ffffff4d;
  border-radius: 16px;
  height: 100%;
}

.filters h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  padding: 16px;
}

.list {
  width: 100%;
  border: 1px solid #ffffff4d;
  border-radius: 16px;
  height: 100%;
  /* don-t allow background image to move out of the container */
}

.notificationList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 24px 24px 24px;
}

.notificationListItem {
  font-size: 16px;
  padding: 6px 8px 6px 8px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--primary1-100);
}

.notificationListItem[data-active="true"] {
  background-color: var(--main-grey);
}

.notificationListItem:hover {
  cursor: pointer;
  background-color: var(--main-grey);
}

.notificationMarkAsRead {
  all: unset;
  cursor: pointer;

  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 4px;

  font-size: 12px;
  font-weight: 500;
}

/* if disabled */
.notificationMarkAsRead[disabled] {
  cursor: not-allowed;
}
