.button {
   padding: 1.5rem 2rem;
   font-size: 1.5rem;
   border-radius: 4px;
   display: flex;
   align-items: center;
   width: fit-content;
   color: var(--color-white);
   transition: 0.2s;
}

.gradientBottomRight {
   background: linear-gradient(
      to bottom right,
      var(--color-blue-secondary),
      var(--color-blue-primary)
   );
}

.gradientRightLeft {
   background: linear-gradient(
      to left,
      var(--color-blue-secondary),
      var(--color-blue-primary)
   );
}

.svg {
   width: 2rem;
   stroke: var(--color-white);
   stroke-width: 1.8;
   margin-left: 2rem;
   transition: 0.2s;
}

.button:hover {
   color: var(--color-black-primary);
}

.button:hover .svg {
   stroke: var(--color-black-primary);
}