.button {
    cursor: pointer;
    transition: 0.2s;
    font: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    background: none;
    border-radius: 1.5rem;
    padding: 1.3rem 3rem;
    color: inherit;
    border: none;
}


.gradientBottomRight {
    background: linear-gradient(
            to bottom right,
            var(--color-blue-secondary),
            var(--color-blue-primary)
    );
}

.gradientRightLeft {
    background: linear-gradient(
            to left,
            var(--color-blue-secondary),
            var(--color-blue-primary)
    );
}

.gradientLeftRight {
    background: linear-gradient(
            to right,
            var(--color-blue-secondary),
            var(--color-blue-primary)
    );
}

.svg {
    width: 2rem;
    stroke: var(--color-white);
    stroke-width: 1.8;
    margin-left: 2rem;
    transition: 0.2s;
}

.button:hover {
    color: rgb(0, 12, 121);
}

.button:hover .svg {
    stroke: rgb(0, 12, 121);
}