.featureSectionDiv {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    text-align: center;
    margin: 20rem auto;
    width: 100%;
}

.cardRow {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    width: var(--landing-page-mobile-size);
}

@media only all and (min-width: 768px) {
    .cardRow {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
}
