.dataCardContainer {
    height: 100%;
    width: 100%;
    flex-direction: column;
    min-height: 25rem;
    z-index: 0;
    color: var(--primary1-100);
}

.viewerTable {
    min-height: 25rem;
}

.viewerTableHead {
    position: relative;
    border-collapse: separate;
    font-weight: 700;
}

.viewerTableHead .viewerTableCell {
    padding-block: 1.3rem;
}

.viewerTableHead::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 0 0 8px 8px;
    background: var(--background);
    border-bottom: 1px solid #333c42;
}

.viewerTableHead::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    border-radius: 8px;
    border: 1px solid #333c42;
    border-bottom: none;
}

.viewerTableBody {
    width: 100%;
    border-collapse: separate;
    position: relative;
    z-index: 0;
}

.viewerTableBody::after {
    z-index: -1;
    content: '';
    position: absolute;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    border: 1px solid #333c42;
    top: 0;
}

.viewerTableCell {
    flex-basis: 100%;
    overflow: hidden;
    text-align: center;
    padding: 1.3rem 0.5rem;
    color: inherit;
    font: inherit;
    border: none;
    vertical-align: middle;
}

.viewerTableBody .viewerTableCell {
    box-shadow: inset 0 -1px #333c42;
}

.viewerTableCellInner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filename {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

.filenameText {
    overflow: hidden;
    word-break: keep-all;
}
