.itemContainer {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.item {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.itemInner {
    border-radius: 1.5rem;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}


.withBackground {
    background: var(--color-black-secondary);
}

.itemInner h4 {
    margin-bottom: 1rem;
}

.itemWithoutBackground {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
}

.deleteButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteButton {
    border: 2px solid var(--color-red-primary);
    color: var(--color-red-primary);
    justify-self: center;
}

.deleteButton:hover {
    background: var(--color-red-primary);
    color: var(--color-white);
}

.selectElement {
    border-radius: 1.5rem;
}

.selectElementValueContainer {
    padding-block: 1.3rem;
}

@media only all and (min-width: 1024px) {
    .itemContainer {
        flex-direction: row;
        align-items: stretch;
        gap: 3rem;
    }

    .item {
        flex: 1;
    }
    
    .itemInner {
        flex: 1;
        padding: 3rem 4rem;
    }
}