.containDiv {
    padding: 2rem;
    border: 2px solid var(--white-transparent);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--primary1-100);
}

.headingDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.heading {
    font-weight: 700;
    font-size: 2rem;
}

.navDiv {
    display: flex;
    width: fit-content;
    align-items: center;
}

.navButton {
    font-size: 1rem;
    font-weight: 700;
    padding: 15px 20px;
    transition: 0.2s;
    color: var(--white);
    background: none;
    border: 2px solid var(--grey);
}

.navButton:hover {
    background-color: var(--white-transparent);
}

.active {
    background: var(--grey);
}

.firstButton {
    border-radius: 10px 0 0 10px;
}

.lastButton {
    border-radius: 0 10px 10px 0;
}

.credentialsDiv {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    width: 75%;
    height: fit-content;
}

.linksDiv {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.subheading {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.button {
    background-color: var(--background);
    display: flex;
    gap: 0.8rem;
    padding: 0.6rem 1.2rem;
    width: max-content;
    border-radius: 10px;
    transition: 0.2s;
    border: 2px solid var(--grey);
}

.button:hover {
    background: var(--secondary-background);
}

.icons {
    height: fit-content;
    cursor: pointer;
    transition: 0.2s;
}

.icons:hover {
    color: var(--primary1-200);
}

.icons svg {
    width: 1.2rem;
    display: inline-block;
    margin-bottom: -0.3rem;
}

.inputIcons {
    position: absolute;
    z-index: 2;
    left: 1rem;
    top: 0.65rem;
}

.inputIcons svg {
    height: 1.2rem;
}

.eachLinkDiv {
    position: relative;
    height: fit-content;
}

.eachLinkDiv:not(:first-of-type) {
    margin-top: 1.2rem;
}

.eachLinkDiv:first-of-type {
    margin-top: 3rem;
}

.eachLinkDiv:first-of-type .inputIcons {
    top: 0.75rem;
}

.linkSubheading {
    margin: 0;
}

.linkHeadingDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.linkInput {
    background: var(--main-grey);
    padding: 0.7rem 1.3rem;
    padding-left: 3.3rem;
    border-radius: 0.8rem;
}

.linkInput:focus {
    outline: none;
}

.deactivateButton {
    padding: 0.7rem 1.3rem;
    background-color: var(--error-500);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 15rem;
    margin-top: 4rem;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    transition: 0.2s !important;
    width: 100%;
}

.deactivateButton:hover {
    color: var(--background);
}

.contentDiv {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.contentDiv:first-of-type {
    margin-right: 5rem;
}

.infoContainerDiv:nth-child(2) {
    margin-top: 1rem;
}

.inputDiv {
    background: var(--main-grey);
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.3rem 0.3rem;
    border-radius: 10px;
    padding-left: 1.3rem;
    gap: 1.3rem;
    margin-bottom: 3px;
}

.input {
    background: var(--main-grey);
    padding: 0.7rem 0;
    width: 23ch;
    font-size: 1rem;
    opacity: 0.8;
}

.inputLong {
    background: var(--main-grey);
    padding: 0.7rem 0;
    width: 36ch;
    font-size: 1rem;
    opacity: 0.8;
}

.input:focus {
    outline: none;
    opacity: 1;
}

.apiKey {
    font-size: 1rem;
    background-color: var(--main-grey);
    padding: 1rem 1.5rem;
    width: 50ch;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    text-overflow: clip;
}

.api {
    display: flex;
}

.iconButton {
    background-color: transparent;
    margin-left: 1.3rem;
}

.apiKey .iconButton {
    margin-left: 0;
}

.limitsHeading {
    margin-top: 3rem;
}

.limitsDiv {
    width: 60%;
}

.limitsContentDiv {
    border: 2px solid var(--white-transparent);
    border-radius: 10px;
    padding: 1rem 2rem;
}

.limitObject {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.limitObject:not(:last-of-type) {
    margin-bottom: 1.3rem;
}

.limit {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 12ch;
    color: var(--light-grey);
}

.limit span {
    font-weight: 600;
    font-size: 1rem;
    color: var(--primary1-100);
}

.graphBody {
    width: 70%;
    background-color: var(--white-transparent);
    height: 0.9rem;
    border-radius: 2px;
}

.graphContent {
    width: 70%;
    height: 100%;
    background-color: var(--primary1-100);
    border-radius: 2px;
}

.billing {
  display: flex;
  gap: 15px;
  width: 100%;
  margin-bottom: 80px;
}
.billing .left {
  width: 50%;
}
.billing .left .inputBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.billing .right {
  width: 50%;
}
.billingTable h1,
.billing h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 16px;
}
.billing .state {
  display: flex;
  gap: 27px;
}

.billing .box {
  background-color: #1e1e1e;
  padding: 14px 24px;
  border-radius: 11px;
}

.billing .title {
  color: #a1a0bd;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 12px;
}

.billing .price {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #d2e1ff;
  margin-bottom: 12px;
}

.billing .greenBtn,
.billing .redBtn,
.billing .yellowBtn {
  width: max-content;
  height: 38px;
  padding: 7px 12px 7px 12px;
  border-radius: 16px;
  gap: 4px;
  display: flex;
  align-items: center;
  background: #96f5b6;
  color: #0b742f;
}

.billing .redBtn {
  background: #f38b8b;
  color: #fde8e8;
}

.billing .yellowBtn {
  background: #f3e98b;
  color: #fdfbe8;
}

.searchContainer {
  border-radius: 8px;
  max-width: 30rem;
  width: 100%;

  height: 2.5rem;
  align-items: center;
  align-self: center;

  flex: auto;

  background: var(--main-grey);
  color: var(--primary1-100);
  display: flex;
  padding: 10px 16px;
  gap: 16px;
  transition: 0.2s;
}
.search {
  font: inherit;
  color: inherit;
  font-weight: 700;
  background: none;
  appearance: none;
  flex: 1;
}

.search::placeholder {
  font: inherit;
}

.search:focus {
  outline: none;
  color: inherit;
}

.search:focus::placeholder {
  color: inherit;
}

.billingTable {
  width: 100%;
}

.dropArea {
  display: flex;
  gap: 15px;
  margin-bottom: 46px;
}

.tableReponsive {
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid #1e1e1e;
}
.table {
  width: 100%;
}
.table .tr {
  border: 1px solid #1e1e1e;
}

.table .tr .th {
  padding: 12px 15px;
}
.table .tr .td {
  padding: 10px 15px;
  text-align: center;
  height: 70px;
  vertical-align: middle;
}

.table .success {
  color: #17e383;
}
.table .warning {
  color: #ead72e;
}
.table .rejected {
  color: #ea2e2e;
}

.table .images {
  display: flex;
  gap: 16px;
}
.table .images .avatar {
  width: 49px;
  height: 49px;
  border-radius: 100px;
  background-color: #f4f4f4;
}
.table .images h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #d2e1ff;
  margin-bottom: 6px;
}
.table .images span {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #d2e1ffa6;
}
