.containDiv {
    padding: 2rem;
    border: 2px solid var(--white-transparent);
    margin-top: 3rem;
    margin-bottom: 5rem;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--primary1-100);
}

.headingDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.heading {
    font-weight: 700;
    font-size: 2rem;
}

.navButton {
    background-color: transparent;
    font-size: 1rem;
    font-weight: 700;
}
.navButton:not(:nth-child(1) + :last-child) {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0.7rem 0.85rem;
}
.navButton:nth-child(1) {
    padding: 0 0.85rem;
    border-radius: 20px 0 0 20px;
}
.navButton:last-child {
    padding: 0 0.85rem;
    border-radius: 0 20px 20px 0;
}
.navButton:hover {
    background-color: var(--white-transparent);
}
.navButton:focus {
    background-color: var(--white-transparent);
}
.navDiv {
    display: flex;
    border: 1px solid;
    border-radius: 20px;
    width: fit-content;
}
.credentialsDiv {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    width: 75%;
    height: fit-content;
}
.linksDiv {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.subheading {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
}
.button {
    background-color: var(--primary2-950);
    display: flex;
    gap: 0.8rem;
    padding: 0.6rem 1.2rem;
    width: max-content;
    border-radius: 20px;
}

.icons {
    height: fit-content;
}

.icons svg {
    width: 1.2rem;
    display: inline-block;
    margin-bottom: -0.3rem;
}

.inputIcons {
    position: absolute;
    z-index: 2;
    left: 1rem;
    top: 0.65rem;
}

.inputIcons svg {
    height: 1.2rem;
    /* width: auto; */
}

.eachLinkDiv {
    position: relative;
    height: fit-content;
}
.eachLinkDiv:not(:first-of-type) {
    margin-top: 1.2rem;
}
.eachLinkDiv:first-of-type {
    margin-top: 3rem;
}

.eachLinkDiv:first-of-type .inputIcons {
    top: 0.75rem;
}

.linkSubheading {
    margin: 0;
}

.linkHeadingDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.linkInput {
    background: var(--main-grey);
    padding: 0.7rem 1.3rem;
    padding-left: 3.3rem;
    border-radius: 0.8rem;
}

.linkInput:focus {
    outline: none;
}

.deactivateButton {
    padding: 0.7rem 1.3rem;
    background-color: var(--error-500);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 15rem;
    margin-top: 4rem;
    border-radius: 20px;
    align-items: center;
}

.contentDiv {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.contentDiv:first-of-type {
    margin-right: 5rem;
}

.infoContainerDiv:nth-child(2) {
    margin-top: 1rem;
}

.inputDiv {
    background: var(--main-grey);
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.3rem 0.3rem;
    border-radius: 20px;
    padding-left: 1.3rem;
}

.input {
    background: var(--main-grey);
    padding: 0.7rem 1.3rem;
    width: 23ch;
    font-size: 1rem;
}

.input:focus {
    outline: none;
}

.apiKey {
    font-size: 1rem;
    background-color: var(--main-grey);
    padding: 1rem 1.5rem;
    width: 32ch;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.api {
    display: flex;
}

.iconButton {
    background-color: transparent;
    margin-left: 1.3rem;
}
.apiKey .iconButton {
    margin-left: 0;
}

.limitsHeading {
    margin-top: 3rem;
}

.limitsDiv {
    width: 60%;
}
.limitsContentDiv {
    border: 2px solid var(--white-transparent);
    border-radius: 20px;
    padding: 1rem 2rem;
}

.limitObject {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.limitObject:not(:last-of-type) {
    margin-bottom: 1.3rem;
}

.limit {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 12ch;
}
.limit span {
    font-weight: 600;
    font-size: 1rem;
}

.graphBody {
    width: 70%;
    background-color: var(--white-transparent);
    height: 0.9rem;
    border-radius: 2px;
}
.graphContent {
    width: 70%;
    height: 100%;
    background-color: var(--primary1-100);
    border-radius: 2px;
}
