.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 20px 21px;
    background-color: var(--background);
    border: 1px solid #49535F;
    border-radius: 8px;
}

.headerWrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 8px;
  justify-content: space-between;
}

.headerTitleWrapper {
    display: flex;
    flex-direction: column;
}

.headerTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: var(--primary1-100);
}

.headerSubtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: var(--primary1-100);
}

.headerBaseData {
    display: flex;
    gap: 21px;
    flex-wrap: wrap;
}

.headerBaseDataContent {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    line-height: 24px;
    color: var(--primary1-100);
    height: fit-content;
}

.headerBaseDataType {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    background: #ADB6FF;
    border-radius: 16px;
    height: fit-content;
}

.headerBaseDataTypeContent {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #04033E;
}

.tagsAndActionsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
}

.tagsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
}

.tagsItem {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 24px;
    color: var(--primary1-100);
}

.tagsItemIcon {
    color: #005EEA;
}

.actionEdit {
    color: var(--primary1-100);
}
