.datasetTypeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 9px;
    gap: 5px;

    background: var(--background);
    border-radius: 16px;

    margin-right: 10px;
}

.datasetTypeContainer span {
    width: 1px;
    height: 10px;

    background: #FFFFFF;
    opacity: 0.2;
}

.datasetTypeContainer p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.14px;
}

.icon {
    transform: scale(0.7);
}