.createDatasetContainer {
    margin-block: 6rem;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

.createDatasetContainer::after {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    background: radial-gradient(
            circle at top left,
            var(--color-blue-gradients),
            rgba(0, 0, 0, 0) 30%
    ) top left;

    content: "";
    top: 0;
    left: 0;
    min-width: 30rem;
}

.datasetTypeRow {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
}

.datasetTypeRow button {
    border-radius: 5px;
    padding: 10px 50px;
    background-color: rgb(17, 17, 17);
    border: 3px solid rgb(39, 39, 39);
    color: rgb(39, 39, 39);
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.6rem;
    flex: 0 1 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.datasetTypeRow button:hover {
    color: var(--color-white);
}

.selected {
    color: var(--color-white) !important;
    border: solid 3px transparent !important;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
    ),
    linear-gradient(
            90deg,
            var(--color-blue-secondary),
            var(--color-blue-primary)
    ) !important;

    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px rgb(17, 17, 17) inset;
}

.datasetSecondRow {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.labelledInputContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.labelledInputContainer__label {
    font-weight: 700;
    font-size: 1.8rem;
}

.labelledInputContainer__input {
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

.labelledInputContainer__fileInput {
    font-size: 1.5rem;
    border-radius: 0.5rem;
    opacity: 0;
}

.datasetSecondRow input {
    outline: none;
    background-color: var(--color-black-secondary);
    border: none;
    padding: 1rem 2rem;
    color: var(--color-white);
}

.datasetSecondRow select {
    margin-top: 10px;
    display: block !important;

    padding: 10px 70px 10px 10px;
    border: none;
    cursor: pointer;

    transition: 0.1s;

    outline: none;
    color: var(--color-white);
    border-radius: 5px;
    background-color: var(--color-black-secondary);
}

.datasetThirdRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.datasetThirdRow p {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
}

.datasetThirdRow label {
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: larger;
    background: var(--color-black-secondary);
    border-radius: 5px;
    padding: 15px 50px;
    transition: 0.2s;
}

.datasetThirdRow label:hover {
    background: var(--color-blue-primary);
    color: var(--color-black-secondary);
}

.numImages {
    font-weight: lighter !important;
    margin-left: 40px;
}

.datasetFourthRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
}

.createDatasetButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.createDatasetButtonContainer button {
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: fit-content;
    color: var(--color-white);
    transition: 0.2s;
    background: linear-gradient(
            to bottom right,
            var(--color-blue-secondary),
            var(--color-blue-primary)
    );
    cursor: pointer;
}

.createDatasetButtonContainer button:hover {
    color: rgb(0, 12, 121);
}

@media only all and (min-width: 480px) {
    .datasetTypeRow {
        flex-direction: row;
    }
}