.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    position: relative;
    z-index: 1;
    align-items: center;
}

.listContainer {
    display: none;
    align-items: center;
    gap: 0.5rem;
}

.logo {
    font-size: 3rem;
    font-weight: 600;
    transition: 0.2s;
    display: flex;
    align-items: center;
    height: 3.5rem;
}

.logo:hover {
    color: var(--color-blue-primary);
}

.logoImg {
    height: inherit;
    width: auto;
    margin-right: 10px;
}

.logoText {
    margin-left: 6px;
    color: #eeeeee;
    font-size: 1.5rem;
}

/* #region Nav Mobile Styles */

.navOpenButton {
    font-size: 30px;
    align-self: center;
    transition: 0.2s;
    cursor: pointer;
    background: transparent;
    color: white;
    padding-inline: 1rem;
    margin-right: -1rem;
    border: none;
    display: flex;
    align-items: center;
}

.navOpenButton:hover {
    color: var(--color-blue-primary);
}

.mobileNavLinksContainer {
    position: absolute;
    width: 20rem;
    right: 0;
    top: 100%;
    margin-top: 6px;
    padding: 6px 0;
    background: var(--color-black-secondary);
    border-radius: 1.4rem;
    list-style: none;
    border: 1px solid rgba(223, 239, 254, 0.13);
}

.mobileNavLinksContainer li:last-child a {
    color: var(--color-blue-tertiary);
    font-weight: 600;
}
.mobileNavLinksContainer li:last-child a:hover {
    color: var(--color-blue-gradients);
}

.signinWrapper {
    display: none;
}

.signinButton {
    padding: 1rem 1.25rem;
    text-align: center;
    vertical-align: center;
    border-radius: 6px;
    font-size: 1.4rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    color: rgba(239, 247, 255, 0.62);
    border: 1px solid rgba(223, 239, 254, 0.13);
    background: rgba(226, 240, 253, 0.08);
    background-blend-mode: normal;
    transition: .15s;
    cursor: pointer;
}

.signinButton:hover {
    color: rgba(239, 247, 255, 0.62);
    border: 1px solid rgba(223, 239, 254, 0.13);
    background: rgba(226, 240, 253, 0.212);
}

.siginArrow {
    margin-left: 6px;
}

@media only all and (min-width: 65rem) {
    .logo {
        flex: 1;
        justify-content: flex-start;
    }

    .logoImg {
        height: 52px;
        width: fit-content;
    }

    .logoText {
        margin-left: 12px;
        font-size: 24px;
    }

    .navOpenButton {
        display: none;
    }

    .listContainer {
        flex: 3;
        display: flex;
        justify-content: center;
    }

    .signinWrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
    }

    .listContainer {
        display: flex;
    }
}

/* #endregion */
