.nav {
   display: flex;
   justify-content: space-between;
   margin-top: 3rem;
}

.listContainer {
   display: flex;
   align-items: center;
}
.listItem {
   margin-right: 5rem;
}
.listItem:last-of-type {
   margin-right: 0;
}

.navbarLink {
   font-size: 1.3rem;
   transition: all 0.25s ease-in-out;
   color: var(--color-white);
}
.navbarLinkActive {
   font-size: 1.3rem;
   transition: all 0.25s ease-in-out;
   color: var(--color-blue-primary);
}

.logoText {
   font-size: 1.8rem;
   font-weight: 600;
}
