.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.listContainer {
  display: flex;
  align-items: center;
}

.logoText {
  font-size: 2.5rem;
  font-weight: 600;
  transition: 0.2s;
}

.logoText:hover {
  color: var(--color-blue-primary);
}

/* #region Nav Mobile Styles */

.navOpenButton {
  font-size: 30px;
  align-self: center;
  transition: 0.2s;
  cursor: pointer;
}

.navOpenButton:hover {
  color: var(--color-blue-primary);
}

.mobileNavLinksContainer {
  position: absolute;
}

/* #endregion */