.pullRequestContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 1rem;
    border: 1px solid;
    border-radius: 16px;
}

.pullRequestBody{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid;
    border-radius: 16px;
    padding: 1rem;
}

.pullRequestInfo{
    display: flex;
    flex-direction: column;
}
.bodyHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contributionStats{
    border: 1px solid;
    border-radius: 16px;
}

.statusDetails{
    border: 1px solid;
    border-radius: 16px;
}

.backButton{
    display: inline-flex;
    height: 2.5rem;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 16px;
    background: var(--primary-2950, #08066C);
}
.card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    height: 145px;

    background: var(--primary2-950);
    border-radius: 16px;
    width: 50%;
    background-color: #1e1e1e;
}

.card:has(.commentField:focus) {
    outline-style: solid;
}
.cardTop {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerText {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: var(--primary1-100);
}

.select {
    width: 40%;
}

.commentField {
    width: 100%;
    min-height: 50%;
    color: inherit;
    border: 0;
    margin: 0;
    background-color: #1e1e1e;
    outline: none;
    resize: none;
}

.commentField::-webkit-scrollbar {
    display: none;
}

.submitButton {
    display: block;
    margin-left: auto;
    height: 42px;
    width: 102px;
    margin-top: -0.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 14px;
    background: var(--primary-2950, #08066c);
}