.loading {
    position: fixed;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.loading h2 {
    width: auto;
}
