.loading {
    display: flex;
    align-self: center;
    align-items: center;
    font-size: 20px;
    height: 50vh;
    justify-content: center;
}

.loading h2 {
    width: auto;
}

.loading svg {
    margin-left: 20px;
    align-self: center;
    fill: var(--color-blue-primary);
}
