.cardContainer {
    /*box-shadow: 0px 0px 49px 0px var(--color-blue-primary);*/
    background-color: var(--color-black-secondary);
    padding: 3rem;
    border-radius: 1.5rem;
    height: auto;
    margin: 0 auto;
    position: relative;
}



.cardContainer h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.trashIcon {
    cursor: pointer;
    font-size: 15px;
    float: right !important;
    color: var(--color-red-primary);
    transition: 0.2s;
}

.trashIcon:hover {
    color: var(--color-red-secondary);
}

.overview {
    margin-bottom: 40px;
    color: #C9C9C9;
}

.cardBottom {
    width: 100%;
    display: flex;
    align-items: baseline;
}

.cardBottom span {
    align-self: center;
    margin-left: auto;
    font-size: 1.5rem;
    font-weight: 100;
}

.viewDatasetLink {
    flex: 1;
    margin-bottom: 0;
}