.cardContainer {
    /*box-shadow: 0px 0px 49px 0px var(--color-blue-primary);*/
    background-color: var(--color-black-secondary);
    padding: 3rem;
    border-radius: 1.5rem;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.cardHeader {
    display: flex;
    align-items: flex-start;
    /*background: green;*/
    justify-content: space-between;
    overflow: hidden;
    gap: 1rem;
}

.deleteButton {
    padding: 1rem 1rem;
    margin: -0.5rem -1rem 0 0;
    background: none;
    color: var(--color-red-primary);
    transition: 0.2s;
    flex: none;
}

.datasetName {
    font-size: 1.8rem;
    flex: 1;
    overflow: hidden;
}

.trashIcon {
    cursor: pointer;
    font-size: 15px;
    display: block;
    height: 1.8rem;
    aspect-ratio: 1/1;
}

.deleteButton:hover {
    color: var(--color-red-secondary);
}

.overview {
    color: #C9C9C9;
}

.cardBottom {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: space-between;
}

.cardBottom span {
    align-self: center;
    margin-left: auto;
    font-size: 1.5rem;
    font-weight: 100;
}

.viewDatasetLink {
    width: fit-content;
    padding: 0.5rem 1rem;
    margin-left: -1rem;
    margin-bottom: 0;
}