.label {
    cursor: pointer;
    background-color: var(--color-blue-gradients);
    border: 2px solid var(--color-blue-primary);
    border-radius: 2rem;
    padding-block: 1rem;
    display: flex;
    transition: 0.2s;
    align-self: center;
}

.label:hover {
    border-color: var(--color-red-primary);
    background-color: var(--color-red-secondary);
    color: var(--color-black-primary);
}

.label:hover .colorDot {
    background-color: var(--color-red-primary);
}

.labelText {
    align-self: center;
    margin-right: 20px;
}

.colorDot {
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
    height: 11px;
    width: 12.11px;
    background-color: var(--color-blue-primary);
}