.label {
    cursor: pointer;
    background-color: var(--color-blue-gradients);
    border: 2px solid transparent;
    border-radius: 2rem;
    padding: 1rem 2rem;
    display: flex;
    transition: 0.2s;
    align-self: center;
    color: inherit;
    gap: 1rem;
}

.label:hover {
    border-color: var(--color-red-primary);
    background-color: var(--color-red-secondary);
    color: var(--color-black-primary);
}

.label:hover .colorDot {
    background-color: var(--color-red-primary);
}

.labelText {
    align-self: center;
}

.colorDot {
    align-self: center;
    border-radius: 50%;
    height: 1.3rem;
    aspect-ratio: 1/1;
    background-color: var(--color-blue-primary);
}

.active {
    border-color: var(--color-blue-primary);
}