.container {
    width: 400px;
    height: 516px;
    overflow: auto;

    background-size: cover;
    background-image: url(https://s3-alpha-sig.figma.com/img/f047/4a98/8b4d07ab312672f12d10b21fec40327c?Expires=1686528000&Signature=mC0bmHX46slLz7Hu1gYsNNqyvwE7yJQaClmuwLxVfZoUMSlgC-MQlkgGcVrjDs8ErSZdjMEfSCr0bDNMz2-TkhMPaxWixoUkutjCeF0ujva40b-peMvgK8~SCA6Wqru4BmP-32T5AAwQoUvuWzw8524IkyNFb1GanGd2FbKhjUn6JoEP9n4ef5qi8tSeoBXUXrl40jrC5zvcahpQKC9hb4WdFc44UwRNT4LySLt-t8DbCzVFAjM0nR4AV5tusFwRLmkZBjabcphq-gv9V7wbPuBmIrhxXfrpJutMXoBgL6trv4bX43mQdFGkvGzmA5ZCAY6VZjCFucqe-ciYp7SpiQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);

    box-shadow: 0px 4px 49px rgba(0, 7, 72, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.3);

    backdrop-filter: blur(7.5px);

    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-content: space-between;
    gap: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header img {
    width: 72px;
    height: 72px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    align-self: center;
}

.typeCard {
    width: fit-content;
    height: fit-content;
}

.middleSection h1 {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 32px;
}

.profileCardContainer {
    width: fit-content;
    margin-top: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
}

.infoHeader {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.8);
}

.info {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 27px;
    margin-top: 10px;
}

.infoRight {
    text-align: right;
}
