.footer {
    padding: 2rem 0;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: row;
    flex: none;
}

.footer a {
    transition: 0.2s;
}

.footer a:hover {
    color: #b0b0b0;
}

.footerFoundry {
    display: flex;
    color: rgba(239,247,255,0.62);
}

.footerFoundryBackedByContainer {
    display: flex;
    align-items: center;
}

.footerFoundryLogoContainer img {
    height: 34px;
    width: auto;
}

.footerOtherContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footerOtherAddressLinks {
    display: flex;
    flex-direction: column;
}

.footerOtherAddressLinks span {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: rgba(239,247,255,0.62);
}

.footerOtherContentLinks {
    display: flex;
    gap: 16px;
}

.footerOtherContentLinks a {
    font-size: 24px;
    color: rgba(239,247,255,0.62);
}

.footerPrivacy {
    display: none;
    height: 100%;
    gap: 16px;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2rem;
    color: rgba(239, 247, 255, 0.62);
}

@media only all and (min-width: 640px) {
    .footerFoundryBackedByContainer {
        font-size: 1.4rem;
    }

    .footerFoundryLogoContainer img {
        height: 70px;
    }
}

@media only all and (min-width: 1024px) {
    .footerOtherContent {
        flex: 1;
    }

    .footerFoundry {
        flex: 1;
        justify-content: center;
    }

    .footerPrivacy {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
}
