.container {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 3rem;
    overflow: auto;
}

.contentContainer {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    margin-block: 3rem;
}

.contentContainer h1 {
    font-size: 3rem;
}

.contentContainer h2 {
    font-size: 2.5rem;
}

.contentContainer h3 {
    font-size: 2rem;
}

.contentContainer h4 {
    font-size: 1.75rem;
}


.contentContainer p {
    color: #C9C9C9;
    font-size: 1.5rem;
    line-height: 1.5em;
}

.infoCards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: stretch;
    gap: 1.5rem 1.5rem;
}

.infoCards * {
    font-weight: 500;
    border-radius: 1rem;
    padding: 1.3rem 3.5rem;
    font-size: 1.5rem;
    color: var(--color-black-primary);
    background: var(--color-blue-primary);
}

.btnContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem
}

.titleBar {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

.utilityButton {
    flex: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

@media only all and (min-width: 1024px) {
    .contentContainer {
        margin-block: 7rem;
        row-gap: 6.5rem;
    }

    .container {
        padding: 0 6rem;
    }
}

.section {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    max-width: 100rem;
}


.icon {
    height: 2rem;
    width: unset;
    aspect-ratio: 1/1;
    stroke: var(--color-white);
    stroke-width: 1.2;
    transition: stroke 0.150s ease;
}

.utilityButton:hover .icon {
    stroke: var(--color-black-secondary)
}

.labelledInputContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 700;
    font-size: 1.8rem;
}

.labelledInputContainer__input {
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

.formInputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}