.uploadedImages {
    position: absolute;

    width: 100vw;
    background: radial-gradient(
            circle at top left,
            var(--color-blue-gradients),
            rgba(0, 0, 0, 0) 40%
    ) top left,
    radial-gradient(
            circle at bottom right,
            var(--color-blue-gradients),
            rgba(0, 0, 0, 0) 30%
    ) bottom right;
}

.uploadedImages h1 {
    font-size: 25px;
    margin-bottom: 50px;
}

.uploadedImagesContainer {
    display: grid;
    grid-gap: min(calc(1rem + 1.5vw), 3rem);
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.loadBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadBtn {
    cursor: pointer;
    transition: 0.2s;
    border-radius: 1.5rem;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    font-size: 1.5rem;
    background: none;
    padding: 1.5rem 3rem;
}

.uploadedImages button:hover {
    background: var(--color-white);
    color: var(--color-black-secondary);
}
