.holder {
   background-color: var(--color-black-secondary);
   border-radius: 5rem;
   padding: 10rem 0;
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
   margin-bottom: 3rem;
}
.heading {
   display: inline-block;
   font-size: 3.6rem;
   font-weight: 600;
   width: fit-content;
   margin-bottom: 1rem;
}
.text {
   display: inline-block;
   font-size: 1.3rem;
   width: 40rem;
   color: var(--color-gray);
   text-align: center;
   margin-bottom: 3rem;
}
