.modal {
    width: 30rem;
}

.modalContent {
    margin-top: 2rem;
}

.separatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

.sepLine {
    width: 100%;
    height: 1px;
    margin: 1rem;
    background: var(--selection);
}

.sepOr {
    color: var(--light-grey);
}

.oAuthContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 32px;
}

.oAuthBtn {
    background: none;
    border: 2px solid var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.25rem;
    gap: 16px;
    border-radius: 20px;
    padding: 15px 20px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    transition: 0.15s;
}

.oAuthBtn:hover {
    background: var(--grey);
}

.githubIcon path {
    fill: var(--white);
}

.icon {
    aspect-ratio: 1/1;
    width: 24px;
    height: 24px;
}

.footer {
    font-weight: 400 !important;
    font-size: 0.93rem !important;
    line-height: 24px;
    text-align: center;
    color: var(--light-grey) !important;
    bottom: 0;
    margin-top: 20px;
}

.footer a {
    color: var(--info-300);
    transition: 0.15s;
    text-decoration: underline;
}

.footer a:hover {
    color: var(--info-500);
}

.changeType {
    font-size: 0.875rem;
    color: var(--light-grey);
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}

.changeTypeButton {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2s;
    background: none;
    margin: 0px 5px;
}

.changeTypeButton:hover {
    color: var(--white);
}
