.heading {
   font-weight: bold;
   font-size: 4.5rem;
   width: 80%;
   line-height: 1.4;
}

.span {
   background: linear-gradient(
      to bottom right,
      var(--color-blue-primary) 30%,
      var(--color-blue-secondary)
   );
   -webkit-background-clip: text;
   background-clip: text;
   color: rgba(0, 0, 0, 0);
}
