.navbarLink {
  font-size: 0.938rem;
  transition: all 0.2s ease-in-out;
  color: var(--color-white);
}

.navbarLinkActive {
  color: var(--color-blue-primary);
}

.navbarLink:hover {
  color: #b0b0b0;
}

.mobileListItem {
  width: 100%;
}

.navbarLink {
  display: block;
  width: 100%;
  padding: 0.625rem 1.875rem;
}

.mobileNavbarLink {
  font-size: 0.938rem;
}
