.container {
    margin: 20px;
}


.sectionContainer {
    margin: 40px auto;
    max-width: 1600px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*width: 100%;*/
}

.header {
    color: var(--primary1-100);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 40px;
    align-self: center;
}

.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

}

.trendingFilterContainer {
    display: flex;
    border: 1px solid #1E1E1E;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.trendingFilterGrid {
    width: 48px;
    height: 48px;
    color: var(--primary1-100);
    text-align: center;
    letter-spacing: 0.16px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 22px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trendingFilterGrid:hover {
    background: var(--main-grey);
}

.cardContainer {
    margin: 0 80px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

