.imageContainer {
   width: var(--landing-page-mobile-size);
   position: relative;
}

.image {
   border-radius: 3.5rem;
}

.imageContainer::before {
   content: "";
   width: 200%;
   aspect-ratio: 1/1;
   position: absolute;
   z-index: -1;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-image: radial-gradient(
      circle, 
      var(--color-blue-gradients) 10%, 
      rgba(0, 0, 0, 0) 70%
   );
   border-radius: 300rem;
}

.heroSectionDiv {
   margin: 10rem 0 15rem;
   align-items: center;
   display: flex;
   position: relative;
   text-align: center;
   flex-direction: column;
   row-gap: 2rem;
   column-gap: 4rem;
}

.contentSection {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.buttonsHolder {
   margin-top: 2rem;
   gap: 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
}

@media only all and (min-width: 960px) {
   .heroSectionDiv {
      flex-direction: row;
      text-align: left;
   }



   .buttonsHolder {
      flex-direction: row;
      align-items: baseline;
   }

   .contentSection {
      align-items: flex-start;
      flex: 1;
   }

   .imageContainer {
      width: min(min(max(30rem, 50%), 100%), 60rem);
      flex: none;
   }
}