.pnfContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    height: 100%;
    padding-block: 5rem;
}

.pnfContainer p {
    font-size: large;
}

.pnfNumbersContainer {
    font-size: 100px;
}

.pnfColoredLetter {
    color: var(--color-blue-primary);
}

.pnfButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
