.separatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

.sepLine {
    width: 100%;
    height: 1px;
    margin: 1rem;
    background: var(--primary1-100);
}

.sepOr {
    color: var(--primary1-100);
}

.header {
    margin-bottom: 2rem;
}

.header h1 {
    text-align: center;
    color: var(--primary1-100);
    font-size: 2rem;
    font-weight: bold;
    line-height: 40px;
}

.closeBtn {
    aspect-ratio: 1/1;
    width: 48px;
    padding: 12px;
    border-radius: 50%;
    color: var(--white);
    background: var(--primary2-950);
    position: absolute;
    cursor: pointer;
    transition: 0.2s;
}

.closeBtn:hover {
    color: var(--primary1-200);
}

.oAuthContainer {
    width: 100%;
    margin-top: 50px;
}

.oAuthBtn {
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary2-950);
    font-size: 1rem;
    line-height: 1.25rem;
    gap: 20px;
    border-radius: 9999px;
    padding: 15px 20px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.15s;
}

.oAuthBtn:hover {
    background: var(--primary2-100);
}

.icon {
    aspect-ratio: 1/1;
    width: 24px;
    height: 24px;
}

.secondLoginContainer {
}

.secondLoginContainer p {
    color: var(--primary1-200);
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 24px;
}

.secondLoginContainer input {
    outline: none;
    border-radius: 50px;
    background: none;
    color: var(--white);
    border: 1px solid var(--primary1-300);
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.secondLoginContainer input::placeholder {
    color: var(--white);
}

.bottomContainer {
    display: flex;
    justify-content: space-between;
}

.rememberMeContainer {
    display: flex;
}

.rememberMeContainer label {
    display: flex;
    user-select: none;
}

.rememberMeContainer label span {
    color: var(--primary1-200);
    font-weight: 500;
    align-self: center;
    margin-bottom: 16px;
}

.rememberMeContainer input {
    -webkit-appearance: none;
    appearance: none;

    width: 24px;

    border-radius: 6px;
    margin-right: 15px;
    border: 0.15em solid var(--primary1-200);
    outline: none;
    cursor: pointer;
    transition: 0.15s;
}

.rememberMeContainer input:hover {
    border-color: var(--primary1-300);
}

.rememberMeContainer input:checked {
    background-color: var(--primary1-200);
    position: relative;
}

.rememberMeContainer input:checked::after {
    font-size: 1rem;
    color: #fff;
    position: absolute;
}

.forgotPassword {
    cursor: pointer;
    transition: 0.2s;
    color: var(--error-500) !important;
}

.forgotPassword:hover {
    color: var(--error-600) !important;
}

.footer {
    opacity: 0.8;
    font-weight: 400 !important;
    font-size: 0.93rem !important;
    line-height: 24px;
    text-align: center;
    color: var(--info-100) !important;
    bottom: 0;
    margin-top: 20px;
}

.footer a {
    color: var(--info-300);
    transition: 0.15s;
    text-decoration: underline;
}

.footer a:hover {
    color: var(--info-500);
}

.submitBtn {
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary2-950);
    font-size: 1rem;
    line-height: 1.25rem;
    gap: 8px;
    border-radius: 9999px;
    padding: 10px 16px;
    font-weight: 600;
    width: 100%;
    height: 48px;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5), 0px 8px 16px rgba(255, 255, 255, 0.1);
}

.submitBtn:hover {
    background: var(--primary2-100);
}

.changeType {
    font-size: 0.93rem;
    color: var(--white) !important;
    font-weight: 400 !important;
    margin-top: 20px;
    text-align: center;
}

.changeType span {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2s;
}

.changeType span:hover {
    color: var(--primary1-200);
}