.separator {
    border: 1px solid var(--info-400);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.separator span {
    position: absolute;
    padding: 16px;
    background: var(--info-400);
}
