.mainContainer {
    margin-top: 300px;
    margin-bottom: 170px;
    font-size: 3rem;
    line-height: 4.5rem;
    text-align: center;
    font-weight: 800;
}

.highlightedText {
    color: #53afff;
}
