.number {
  font-size: 2.1875rem;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.numberDiv {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 5.9375rem;
  height: 5.9375rem;
  border: 0.25rem solid var(--color-blue-secondary);
  border-radius: 18.75rem;
  margin-bottom: 6.25rem;
  margin-top: 15.625rem;
}

.fish {
  position: absolute;
  width: 16.875rem;
  right: -5.1875rem;
  bottom: -5.625rem;
}

.cardDiv {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 21.875rem;
  margin-bottom: 25rem;
}

.cardDiv div:not(:last-of-type) {
  margin-bottom: 3.125rem;
}

.cardImage {
  position: absolute;
  width: 125%;
  max-width: 58.125rem;
  margin: auto;
  margin-left: 1.875rem;
}

@media only screen and (max-width: 60.625rem) {
  .cardImage {
    display: none;
  }

  .cardDiv {
    /* flex-direction: row; */
    margin: 0;
  }

  .cardDiv div {
    /*width: 50%;*/
  }

  .cardDiv div:nth-child(:last-child) {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 56.875rem) {
  .number {
    font-size: 1.875rem;
  }

  .numberDiv {
    width: 5rem;
    height: 5rem;
    margin-top: 9.375rem;
  }

  .fish {
    width: 13.125rem;
    right: -3.9375rem;
    bottom: -4.1875rem;
  }
}

@media only screen and (max-width: 31.25rem) {
  .number {
    font-size: 2.7rem;
  }

  .numberDiv {
    width: 7.3rem;
    height: 7.3rem;
    margin-bottom: 7rem;
    margin-top: 10rem;
  }

  .fish {
    width: 20rem;
    right: -6.2rem;
    bottom: -6.5rem;
  }
}
