.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1.875rem;
}

.cardHolder {
    display: grid;
    grid-gap: 1.875rem;
    position: relative;
}

.mobileImage {
    width: 30%;
    max-width: 9.375rem;
}

.heading,
.subHeading,
.body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.body {
    width: 60%;
    font-size: 0.875rem;
    font-weight: 300;
    margin-bottom: 3.125rem;
}

.heading {
    font-size: 2.125rem;
}

.subHeading {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-aqua);
}

.mainImage {
    position: absolute;
    z-index: -1;
    display: none;
    height: 93.75rem;
    left: 4.0625rem;
}

@media only screen and (min-width: 63.75rem) {
    .cardHolder {
        position: absolute;
        transform: translateY(5%);
    }

    .mobileImage {
        display: none;
    }

    .mainImage {
        display: block;
        position: relative;
    }

    .cardHolder {
        background: none;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6.25rem 10.625rem;
        /*width: 110%;*/
        justify-items: center;
        justify-content: center;
    }

    .card {
        background: none;
    }

    .mainImage {
        height: 63.75rem;
        left: 2.8125rem;
    }
}

.number {
    font-size: 2.1875rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.numberDiv {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 5.9375rem;
    height: 5.9375rem;
    border: 0.25rem solid var(--color-blue-secondary);
    border-radius: 50%;
    margin: 3.125rem auto;
}

.fish {
    position: absolute;
    right: 2.8125rem;
    bottom: 0.625rem;
    width: 6.875rem;
}

@media only screen and (max-width: 56.875rem) {
    .number {
        font-size: 1.875rem;
    }

    .numberDiv {
        width: 5rem;
        height: 5rem;
    }

    .fish {
        width: 5.625rem;
        right: 2.5rem;
    }
}

@media only screen and (max-width: 31.25rem) {
    .number {
        font-size: 1.6875rem;
    }

    .numberDiv {
        width: 4.5625rem;
        height: 4.5625rem;
        margin-bottom: 4.375rem;
        margin-top: 1.875rem;
    }

    .fish {
        width: 5rem;
        right: 2.0625rem;
    }
}
