.heading,
.subHeading,
.body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.body {
  width: 60%;
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 10rem;
}

.heading {
  font-size: 3.4rem;
}
.subHeading {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-aqua);
}

.number {
  font-size: 3.5rem;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.numberDiv {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 9.5rem;
  height: 9.5rem;
  border: 4px solid var(--color-blue-secondary);
  border-radius: 30rem;
  margin-bottom: 10rem;
  margin-top: 25rem;
}
.fish {
  position: absolute;
  width: 27rem;
  right: -8.3rem;
  bottom: -9rem;
}
.cardDiv {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50rem;
  margin-bottom: 50rem;
}

.cardDiv div:not(:last-of-type) {
  margin-bottom: 5rem;
}

.cardImage {
  position: absolute;
  width: 90%;
  left: 6%;
}

@media only screen and (max-width: 970px) {
  .cardImage {
    display: none;
  }
  .cardDiv {
    /* flex-direction: row; */
    margin: 0;
  }
  .cardDiv div {
    width: 50%;
  }
  .cardDiv div:not(:last-of-type) {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 910px) {
  .number {
    font-size: 3rem;
  }
  .numberDiv {
    width: 8rem;
    height: 8rem;
    margin-top: 15rem;
  }
  .fish {
    width: 21rem;
    right: -6.3rem;
    bottom: -6.7rem;
  }
}
@media only screen and (max-width: 700px) {
  .body {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .number {
    font-size: 2.7rem;
  }
  .numberDiv {
    width: 7.3rem;
    height: 7.3rem;
    margin-bottom: 7rem;
    margin-top: 10rem;
  }
  .fish {
    width: 20rem;
    right: -6.2rem;
    bottom: -6.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .body {
    width: 100%;
  }
  .heading {
    font-size: 2.8rem;
  }
}
