.sectionTwoContainer {
    text-align: center;
    margin-inline: 0;
}

.number {
    font-size: 3.5rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.numberDiv {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 9.5rem;
    height: 9.5rem;
    border: 4px solid var(--color-blue-secondary);
    border-radius: 30rem;
    margin: 50px auto;
}

.fish {
    position: absolute;
    width: 24rem;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middleImageContainer {
    display: none;
}

.aboveImageContainer {
    width: 94px;
    margin: auto;
    margin-bottom: 48px;
    margin-top: 24px;
}

.belowImageContainer {
    width: 276px;
    margin: auto;
    margin-bottom: 24px;
    margin-top: 48px;
}

.infoContainer {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    text-align: start;
    margin: auto;
}

@media only all and (min-width: 70rem) {
    .infoContainer {
        position: absolute;
    }

    .middleImageContainer {
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        z-index: -100;
        margin-left: -3rem;
    }

    .middleImagewrapper {
        display: flex;
        width: 100%;
        max-width: 65rem;
        justify-content: center;
    }

    .middleImageContainer img {
        width: 50%;
        margin: 0;
    }

    .belowImageContainer,
    .aboveImageContainer {
        display: none;
    }

    .infoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .anchor {
        position: absolute;
    }

    .anchor0 {
        transform: translate(-3rem, -31rem);
    }

    .anchor1 {
        transform: translate(-1rem, -9rem);
    }

    .anchor2 {
        transform: translate(-3rem, 24rem);
    }

    .anchor3 {
        transform: translate(8rem, 47rem);
    }

    .card0 {
        transform: translate(-100%, -100%);
    }

    .card1 {
        transform: translate(0, -50%);
    }

    .card2 {
        transform: translate(-100%, -50%);
    }

    .card3 {
        transform: translate(0, -50%);
    }

    .card {
        position: absolute;
    }
}
