.box {
    border: 1px solid var(--color-aqua);
    box-shadow: 0 0px 24px var(--color-aqua-shadow), inset 0 0px 24px var(--color-aqua-shadow);
    border-radius: 1rem;
    padding: min(3rem, 30px) min(4rem, 40px);
    width: 40rem;
}

.heading {
    font-weight: bold;
    font-size: 2.2rem;
    margin: 0;
    text-transform: capitalize;
}

.body {
    font-size: 1.4rem;
}

.icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 0.5rem;
}

.box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 770px) {
    .box {
        width: 35rem;
    }

    .cardHolder div:not(:first-of-type) {
        margin-left: 5rem;
    }
}

@media only screen and (max-width: 700px) {
    .box {
        max-width: 50rem;
        padding: 4rem 5rem;
    }
}

@media only screen and (max-width: 500px) {
    .box {
        max-width: 40rem;
        padding: 4rem 5rem;
    }
}

@media only screen and (max-width: 400px) {
    .box {
        width: 100%;
        padding: 3rem 3rem;
    }

    .heading {
        font-size: 1.8rem;
    }
}
