@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --color-blue-primary: #91a7ff;
    --color-blue-secondary: #364fc7;
    --color-blue-tertiary: #748FFC;
    --color-blue-gradients: #748ffc7e;
    --color-blue-gradients-card: #364ec75b;

    --color-red-primary: #fa5252;
    --color-red-secondary: #ffc9c9;

    --color-white: #fff;
    --color-gray: #c9c9c9;
    --color-black-primary: #040409;
    --color-black-secondary: #191924;
    --color-black-tertiary: #0c0c11;
    --color-black-secondary-translucent: rgba(25, 25, 36, 0.22);

    --landing-page-mobile-size: min(max(50rem, 50%), 100%);

    --gradient-lr: linear-gradient(
            to right,
            var(--color-blue-secondary),
            var(--color-blue-primary)
    );
    --gradient-rl: linear-gradient(
            to left,
            var(--color-blue-secondary),
            var(--color-blue-primary)
    );
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body, html {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--color-black-primary);
    color: var(--color-white);
    font-family: "Poppins", sans-serif;
    /*margin: 0 17rem;*/
    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: overlay;
}

#root {
    padding: 0 calc(1rem + 5vw);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

main {
    flex: 1;
}

button, input {
    font: inherit;
    border: none;
}

a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 400;
}

a:hover, a:focus {
    color: var(--color-white);
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background-color: var(--color-black-secondary);
}

/* #region Media Queries */

@media only screen and (min-width: 1800px) {
    body {
        max-width: 150rem;
        margin: 0 auto;
    }
}

@media only all and (min-width: 1024px) {
    #root {
        padding: 0 calc(8rem + 2vw);
    }
}

@media only all and (min-width: 1024px) {
    h1, h2, h3, h4 {
        text-align: left;
        width: 100%;
    }

    h1 {
        font-size: min(calc(1rem + 2.2vw), 4.5rem);
    }

    h2 {
        font-size: min(calc(1rem + 1.75vw), 4rem);
    }
}

/* #endregion */
