.subHeading {
   font-weight: bold;
   /*width: 80%;*/
   line-height: 1.4;
   /*children-align: center;*/
}

.span {
   font-weight: 800;
   background: linear-gradient(
      to bottom right,
      var(--color-blue-primary) 30%,
      var(--color-blue-secondary)
   );
   -webkit-background-clip: text;
   background-clip: text;
   color: rgba(0, 0, 0, 0);
}
