.card {
   /*min-width: 30rem;*/
   width: 100%;
   background-color: var(--color-black-secondary);
   padding: 3rem 3rem;
   border-radius: 3.5rem;
   position: relative;
}

.card::after {
   position: absolute;
   content: "";
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 106%;
   height: 106%;
   z-index: -1;
   background: linear-gradient(
      to bottom right,
      var(--color-blue-secondary),
      var(--color-blue-primary)
   );
   filter: blur(3rem) brightness(1.25);
   min-width: 30rem;
}

.heading {
   font-weight: 800;
   background: linear-gradient(
      to bottom right,
      var(--color-blue-primary) 30%,
      var(--color-blue-secondary)
   );
   -webkit-background-clip: text;
   background-clip: text;
   color: rgba(0, 0, 0, 0);
   margin-bottom: 1.5rem;
}

.subHeading {
   font-weight: 300;
}