.overlay {
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    animation: 0.15s ease-in-out 1 modalFadeIn;
}

.tagContainer {
    max-height: 10px;
}

.container {
    overflow-y: scroll;
    padding: 1rem;
    border-radius: 10px;
    min-width: 30%;
    max-width: 100%;
    max-height: 90%;
    width: fit-content;
    background: var(--background);
}

.fadeOut {
    animation: 0.15s ease-in-out 1 modalFadeOut forwards;
}

@keyframes modalFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes modalFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.blurBg {
    backdrop-filter: blur(5px);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerText {
    color: var(--primary1-100);
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
}

.closeBtn {
    aspect-ratio: 1/1;
    padding: 5px;
    border: 3px solid white;
    border-radius: 50%;
    color: var(--white);
    cursor: pointer;
    transition: 0.2s;
}

.closeBtn:hover {
    color: var(--primary1-200);
    border-color: var(--primary1-200);
}

.changeType {
    display: flex;
    margin: 30px 0px;
}

.changeTypeBtn {
    border: 2px solid var(--grey);
    font-size: 1rem;
    font-weight: bold;
    transition: 0.2s;
    color: var(--primary1-100);
    padding: 10px 20px;
    cursor: pointer;
}

.changeTypeBtn:hover {
    background: var(--main-grey);
}

.leftBtn {
    border-radius: 10px 0px 0px 10px;
    border-right-width: 0px;
}

.rightBtn {
    border-radius: 0px 10px 10px 0px;
}

.selected {
    background: var(--main-grey);
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;

    max-width: 1000px;
}

.form label {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.form label p {
    font-weight: 700;
    color: var(--primary1-100);
}

.form label input {
    border: none;
    outline: none;
    color: var(--primary1-100);
    border-radius: 10px;
    padding: 10px 15px;
    background: none;
    background: var(--main-grey);
    border: 2px solid var(--main-grey);
}

.form label input:focus {
    border-color: var(--grey);
}

.form label input::placeholder {
    color: var(--primary1-100);
}

.form label input:focus::placeholder {
    opacity: 0.7;
}

.form textarea {
    resize: none;
    background: var(--main-grey);
    padding: 10px;
    height: 120px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid var(--main-grey);
    transition: 0.2s;
    outline: none;
    color: var(--primary1-100);
    font-family: 'Inter', sans-serif !important;
}

.form textarea:focus {
    border-color: var(--grey);
}

.form textarea:focus::placeholder {
    opacity: 0.7;
}

.form textarea::placeholder {
    color: var(--primary1-100);
}

.inputControl {
    background: var(--main-grey);
    border: 1px solid var(--main-grey);
    color: var(--primary1-100);
    padding: 7px 10px;
}

.licenseInput {
    width: 35rem;
}

.selectMenu {
    background: var(--grey) !important;
}

.selectOption {
    cursor: pointer;
    transition: 0.2s;
}

.selectOption:hover {
    background: var(--elements-950);
}

.createableSelectControl {
    width: 162px;
}

.uploadContainer {
    background: var(--main-grey);
    border-color: var(--selection);
    border-width: 3px;
    width: 400px;
}

.nameContainer {
    width: 400px;
}

.firstRowContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rowContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem 4rem;
    justify-content: space-between;
    align-items: center;
}

.labelChangeType {
    margin: 0;
}

.checkBox {
    display: flex;
}

.checkBox p {
    font-size: 0.75rem;
    color: var(--light-grey);
}

.checkBox input {
    margin-right: 15px;
    padding: 10px;
    background: none;
    border-radius: 5px;
    border: 1px solid var(--grey);
    color: var(--white);
}

.pLinkContainer {
    display: flex;
    gap: 3px;
    align-items: center;
}

.link {
    color: var(--primary1-100);
    font-weight: 400;
    font-size: 0.75rem;
}

.submit {
    justify-content: space-between;
    border-radius: 10px;
    padding: 15px 20px;
    color: var(--white);
    border: 2px solid var(--grey);
    background: var(--main-grey);
    display: flex;
    gap: 16px;
    transition: 0.2s;
    flex: none;
    width: max-content;
    align-items: center;
}

.submit p {
    font-size: 1rem;
}

.submit:hover {
    background: var(--grey);
    color: var(--primary1-100);
}

.submit:disabled {
    cursor: initial;
    transition: 0;
    opacity: 0.6;
    background: var(--background);
}

.submit:disabled:hover {
    color: var(--white);
}

.createButton {
    padding: 12px 24px;
    background: var(--primary2-950);
    border-radius: 10px;

    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    transition: 0.2s;
}
