.searchBarContainer {
    border-radius: 8px;
    max-width: 30rem;
    width: 100%;
    height: 2.5rem;
    flex: 1;
    background: var(--main-grey);
    color: var(--primary1-100);
    display: flex;
    align-items: center;
    padding: 10px 16px;
    gap: 16px;
    transition: 0.2s;
}

.header {
    display: flex;
    padding: 40px 46px;
    background: var(--background);
    justify-content: space-between;
    border-bottom: 1px solid var(--primary1-400)
}

.searchFilterButton {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20.5px;
    width: 20.5px;
    aspect-ratio: 1/1;
    transition: 0.2s;
    cursor: pointer;
}

.searchFilterButton:hover {
    color: var(--primary1-300);
}

.searchFilterIcon {
    display: block;
}

.searchBarInput {
    font: inherit;
    color: inherit;
    font-weight: 700;
    background: none;
    appearance: none;
    flex: 1;
}

.searchBarInput::placeholder {
    font: inherit;
}

.searchBarInput:focus {
    outline: none;
}

.searchBarInput:focus::placeholder {
    color: inherit;
}

.newDatasetButton {
    padding: 12px 24px;
    gap: 6px;
    display: flex;
    background: var(--primary2-950);
    border-radius: 20px;
    cursor: pointer;
}

.mainContent {
    padding: 75px;
    overflow: auto;
}

.datasetGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 36px;
}