.container {
    height: 1191px;
    filter: drop-shadow(0px 4px 49px rgba(0, 7, 72, 0.12));
    backdrop-filter: blur(7.5px);

    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.11);
    padding: 2rem;
    margin: 20px;
}

.headerContainer {

}

.header {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 32px;

    color: var(--primary1-100);

    margin-bottom: 30px;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.chartContainer {
    width: 60%;
}

.activityTimeline {
    
}

.history {

}

.activityTableContainer {
    
}
